[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/AutoComplpop"]
	path = bundle/AutoComplpop
	url = https://github.com/vim-scripts/AutoComplPop.git
